services:
  service-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: service_api
    ports:
      - ${PORT}:${PORT}
    env_file:
      - .env
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DATABASE: ${POSTGRES_DATABASE}
      POSTGRES_USER: ${POSTGRES_USER}
      PORT: ${PORT}
      MIGRATION_PATH: ${MIGRATION_PATH}
      CONN_DB_POSTGRES: ${CONN_DB_POSTGRES}
    depends_on:
      - postgres
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "7600:5432"
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    volumes:
      - data:/var/lib/postgresql/data
volumes:
  data: