openapi: 3.0.0
info:
  title: Service Manager
  version: "1.0"
  description: API documentation for Service Manager
  contact:
    name: Magzhan Yedilbayev
    email: magzhanyedilbayev@gmail.com

servers:
  - url: http://localhost:8000

paths:
  /healthz:
    get:
      summary: Health check
      description: Returns OK if the service and DB are alive
      tags:
        - Health
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Database error
          content:
            application/json:
              schema:
                type: string

  /services:
    get:
      summary: Get all services
      description: Returns a list of services
      tags:
        - Services
      responses:
        "200":
          description: List of services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        "500":
          description: Cannot get services

    post:
      summary: Create service
      description: Creates a new service
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
      responses:
        "200":
          description: Created service
        "500":
          description: Cannot create service

  /services/{id}:
    put:
      summary: Update service
      description: Updates a service by id
      tags:
        - Services
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
      responses:
        "200":
          description: Updated service
        "500":
          description: Cannot update service

    delete:
      summary: Delete service
      description: Deletes a service by id
      tags:
        - Services
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted service
        "500":
          description: Cannot delete service
  /services/total-cost:
    get:
      summary: Get total subscription cost for a selected period
      description: >
        Returns the total cost of all subscriptions within the specified period,
        optionally filtered by user ID and service name.
      tags:
        - Services
      parameters:
        - in: query
          name: from
          required: true
          description:
            Start of the period (format: MM-YYYY)
          schema:
            type: string
            example: "07-2024"
        - in: query
          name: to
          required: true
          description:
            End of the period (format: MM-YYYY)
          schema:
            type: string
            example: "12-2024"
        - in: query
          name: user_id
          required: false
          description: Filter by user ID (UUID)
          schema:
            type: string
            format: uuid
            example: "7d2c20e9-43a2-48b9-a243-024908f4d87b"
        - in: query
          name: service_name
          required: false
          description: Filter by subscription name
          schema:
            type: string
            example: "Yandex Plus"
      responses:
        "200":
          description: Total cost for selected period
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_cost:
                    type: integer
                    example: 2400
        "400":
          description: Invalid request (wrong parameters or date format)
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal error while calculating total cost
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    Service:
      type: object
      properties:
        service_name:
          type: string
        price:
          type: integer
        user_id:
          type: string
        start_date:
          type: string
        end_date:
          type: string
      required:
        - service_name
        - price
        - user_id
        - start_date
